.r {
  display: flex;
  width:auto;
  margin: 10px;
  justify-content: left;
  font-size: 32px;
  flex-direction:column ;
}
.root {
  display: flex;
  width:auto;
  margin: 10px;
  /* justify-content: left; */
  font-size: 32px;
  flex-direction: row;
}

.Acontainer {    display: flex;
                flex-direction: row;
                width:1000px; height: 800px;
                max-height: 900px;
                background-color: rgb(15, 27, 97);
                padding:10px;
                padding-top: 10px;
                border-style: solid;
                border-width: 5px;
                border-color: aquamarine;
                border-radius: 10px;
                }

.b_container {  display: flex;
                width:auto; height: auto;
                min-width: 500px; min-height: 400px;
                max-height: 900px;
                background-color: rgb(38, 97, 15);
                
                padding:10px;
                padding-top: 10px;
                border-style: solid;
                border-width: 5px;
                border-color: aquamarine;
                border-radius: 10px;
                }

.Base {  display: flex;
                width:auto; height: auto;
                max-height: 900px;
                background-color: rgb(38, 97, 15);
                
                padding:10px;
                padding-top: 10px;
                border-style: solid;
                border-width: 5px;
                border-color: aquamarine;
                border-radius: 10px;
                }
                
#V_container {  display: flex;  flex-direction: column;
                
                width:auto; height: 900px;
                max-height: 900px;
                justify-content: space-evenly;
                background-color: rgb(28, 11, 5);
                padding: 15px;
                border-style: solid;
                border-width: 9px;
                border-color: rgb(255, 188, 20);
                border-radius: 10px;
                font-size: 18px; color: aliceblue;;
                }


.L1_containerA {  display: flex;  flex-direction: column;
                flex-wrap: wrap;
                columns: auto;
                width: auto;height: auto;
                min-width:800px; min-height: 400;
                max-height: 900px;
                background-color: rgb(28, 11, 5);
                padding: 15px;
                border-style: solid;
                border-width: 9px;
                border-color: rgb(255, 188, 20);
                border-radius: 10px;
                font-size: 26px; color: aliceblue;;
                }

#control_container{ 
                display: flex;
                flex-direction: column;
                width:auto; height: auto;
                background-color: rgb(70, 35, 22);
                padding: 15px;
                border-style: solid;
                border-width: 3px;
                border-color: rgb(240, 202, 99);
                border-radius: 10px;
                font-size: 18px; color: rgb(255, 255, 255);;


}


.data_container {  display: flex;  flex-direction: column;
                flex-wrap: wrap;
                columns:3px; column-count: 6;
                width:auto; min-width: 500px;
                height: auto;
                background-color: rgb(36, 125, 104);
                padding: 15px;
                border-style: solid;
                border-width: 4px;
                border-color: rgb(255, 91, 21);
                border-radius: 10px;
                font-size: 12px; color: aliceblue;
                background-image: linear-gradient(to bottom right, rgb(0, 0, 0), rgb(79, 79, 79));
               
                }

#data_containerA {  display: flex;  flex-direction:column;
            
                width:auto; height: auto;
                min-width: 500px;
                background-color: rgb(25, 19, 45);
                padding: 15px;
                position: relative;
                margin-top: 10px; margin-bottom: 3px;
                margin-left: 5px;margin-right: 5px;
                border-style: solid;
                border-width: 5px;
                border-color: rgb(255, 91, 21);
                border-radius: 10px;
                font-size: 16px; color: rgb(255, 255, 255);;
               
                }                

.Label_container {  display: flex;  flex-direction: column;
                    flex-wrap: wrap;
                    width:fit-content; height: auto;
                    background-color: rgb(15, 52, 34);
                    padding: 6px;
                    border-style: solid;
                    border-width: 5px;
                    border-color: aquamarine;
                    border-radius: 10px;
                    font-size: 36px; color: rgb(102, 161, 213);
                    font-size: bold;
                }

#field_container {  display: flex; align-items: baseline;
                  gap:10px;
                  flex-direction: row;
                  width:300px;height:auto;
                  margin-left:10px;
                  border-style:ridge; 
                  border-color:rgb(28, 29, 22);
                  border-width: 3px;border-radius:10px;
                  padding: 15px;
                  text-align:center ;
                  font-size: 12px; font-family:Arial, Helvetica, sans-serif;
                  color:#ffffff; background-color: rgb(68, 69, 64);}
            
.title {display:flex;
       border-style:solid; border-color: black;border-width: 2px;
       position:relative; top:5px;  padding: 4px; margin:3px}

.btnA {         width: 180px;height:50px;
                background-color: rgb(111, 192, 111); 
                color: rgb(37, 35, 33);
                padding-block: 10px;
                font-size: 18px;
                border-style:ridge; border-color: rgb(246, 204, 188); border-width: 8px;
                border-radius: 9px;}

#btnA {         width: 180px;height:50px;
                background-color: rgb(177, 108, 255); 
                color: rgb(37, 35, 33);
                padding-block: 10px;
                font-size: 18px;
                border-style:ridge; border-color: rgb(246, 204, 188); border-width: 8px;
                border-radius: 9px;}

#btnB {         width: 100px;height:40px;
                background-color: rgb(255, 242, 104); 
                color: rgb(0, 0, 0);
                padding-block: 10px;
                font-size: 10px;
                border-style:solid; border-color: rgb(255, 30, 30); border-width: 3px;
                border-radius: 2px;}

#btnC {         width: 60px;height:35px;
                background-color: rgb(45, 37, 23); 
                color: rgb(255, 255, 255);
                text-align:center;font-size: 12px;
                border-style:solid; border-color: rgb(209, 255, 57); border-width: 3px;
                border-radius: 8px;
               
                }

#btnC1 {         width: 60px;height:35px;
                background-color: rgb(22, 57, 24); 
                color: rgb(255, 209, 209);
                text-align:center;font-size: 12px;
                border-style:solid; border-color: rgb(209, 255, 57); border-width: 3px;
                border-radius: 8px;
               
                }
              

#btnA:hover{background-color: rgb(241, 255, 136);}
#btnA:active{background-color: rgb(44, 74, 74);}

#btnB:hover{background-color: aqua;}
#btnB:active{background-color: rgb(44, 74, 74);}

#btnC:hover{background-color: rgb(76, 0, 255);}
#btnC:active{background-color: rgb(20, 27, 27);}

#btnC1:hover{background-color: rgb(247, 247, 247);}
#btnC2:active{background-color: rgb(144, 255, 255);}

#inp_1 {width: 220x; height: 60px; 
        background-color: rgb(119, 157, 145);
        justify-content: space-around;
        color: rgb(19, 7, 7); 
        border-style: solid; border-color: rgb(255, 148, 18);
        border-width: 3px; border-radius: 9px;
        font-size: 24px; font-style: bold;font-size: 18px; 
        font-family: Georgia, 'Times New Roman', Times, serif;}


#inp_2 {display: flex;
        width: 100px; height: 20px; 
        background-color: rgb(234, 227, 175);
        justify-content: space-around;
        color: rgb(19, 7, 7); 
        border-style: solid; border-color: rgb(6, 6, 51);
        border-width: 3px; border-radius: 9px;
        font-size: 18px; font-style: bold;
        font-family: Georgia, 'Times New Roman', Times, serif;}
::placeholder {color: red; font-style: bold;}